<footer class="flex justify-between p-4 border-t-2 border-gray-800"> 
    <a href="https://www.aaronhubbard.dev">
    <img alt="company logo" src="/logo.svg" class="w-6 h-6" />
    </a>

    <p>
    &copy; 2021
    
    </p>
</footer>

