<nav class="flex flex-row flex-wrap justify-between p-4 ">
<div class="grid gap-4 grid-flow-col">
    <a class="navLink navHover" href="/">Home</a>
    <a class="navLink navHover" href="/about">About</a>
    <a class="navLink navHover" href="/galleries">Galleries</a>
</div>
  <img alt="company logo" src="/logo.svg" class="w-12 h-12" />
 <div class="grid gap-4 grid-flow-col">
    <a class="navLink navHover" href="/blog">Blog</a>
    <a class="navLink navHover" href="http://pixieset.com">Print Shop</a>
    <a class="navLink navHover" href="/contact">Contact</a>
 </div>
</nav>
